.movie__detail {
  max-width: 1200px;
  margin: 0 auto;
  font-family: var(--ff-sans);
  color: var(--color-title);
}

.movie__detail--header {
  display: flex;
  align-items: flex-start;
  margin-bottom: 5rem;
  gap: 4rem;
}

.movie__detail--img {
  width: 600px;
  height: auto;
  border-radius: 4px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);
}

.movie__detail--infos {
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-xs);
  color: var(--color-title);
}

.movie__detail--year,
.movie__detail--length {
  margin: 0;
  font-size: var(--font-size-xs);
  font-weight: 400;
  opacity: 0.7;
}

.movie__detail--trailer {
  margin-top: 3rem;
  padding-top: 1.5rem;
  border-top: 1px solid var(--color-title);
}

.fav__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 1.5rem;
} 

.fav__btn.remove,
.fav__btn.add {
  padding: 0.8rem 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: var(--font-size-s);
  font-weight: 700;
  color: var(--color-black);
  background-color: var(--color-btn);
  cursor: pointer;
}

.fav__btn.remove:hover,
.fav__btn.add:hover {
  background-color: var(--color-btn-hover);
}
