.movie__detail {
  max-width: 1100px;
  margin: 2rem auto;
  padding: 3rem;
  color: var(--color-white);
  background-color: var(--color-gray-dark);
  border-radius: 8px;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.8);
}

.movie__detail--header {
  display: flex;
  gap: 3rem;
  margin-bottom: 4rem;
  align-items: flex-start;
}

.movie__detail--img {
  width: 320px;
  height: auto;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7);
  border: 1px solid #333;
  transition: transform 0.3s ease;
}

.movie__detail--info {
  display:flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--color-gray-light);
}

.movie__detail--year,
.movie__detail--length {
  margin: 0;
  font-weight: 400;
}

.movie__detail--trailer {
  margin-top: 3rem;
  border-top: 1px solid #444;
  padding-top: 1.5rem;
}