#content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.movie__category {
  margin-top: 5rem;
  padding: 0 3rem;
}
.category__title {  
  margin-bottom: 25px;
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--color-title);
}

.movies__container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  gap: 12px;
}

