.movie__items {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 20rem;
  margin: 0 auto;
  padding: 2rem 1rem;
  border-radius: 1rem;
}

.movie__image {
  width: 30rem;
  height: auto;
  object-fit: cover; 
}

.movie__name {
  font-size: 2.5rem;
  color: black;
}

