.featured {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 5rem;
    background-color: var(--color-black);

}

.featured__image {
  width: 20rem;
  height: auto;

  object-fit: cover;
}

.featured__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--color-white);
}

.featured__title {
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-size: 2.5rem;
  font-weight: 800;
}

.featured__subtitle{
  font-size: 2rem;
  font-weight: 700;
}

.featured__desc {
  font-size: 1.1rem;
}
