<div class="addProfile">
    <h4 class="addProfile__title">Ajouter un Profil</h4>
    <form class="addProfile__form">
 
        <input required type="text" name="name" placeholder="Nom du profil" >
        <input type="text" name="image" placeholder="Saisir le nom de l'image de l'avatar du profil (facultatif)"> 
        <input required type="number" name="age" placeholder="Age du profil">

        <input onclick="{{handler}}" type="button" value="Ajouter le profil" name="todo">

    </form>
</div>